## ACCOUNTS CONFIG
# Comment the seed phrase out if using the default hardhat accounts is intended.
MNEMONIC_PHRASE= "{INSERT_TWELVE_WORD_MNEMONIC}"

RPC_MAINNET_API="{INSERT_API_RPC_URL}"
RPC_GOERLI_API="{INSERT_API_RPC_URL}"
RPC_POLYGON_API="{INSERT_API_RPC_URL}"
RPC_MUMBAI_API="{INSERT_API_RPC_URL}"

# Block explorer API keys
ETHERSCAN_API_KEY="{INSERT_API_KEY}"
POLYGONSCAN_API_KEY="{INSERT_API_KEY}"

## HARDHAT NODE & SCRIPTS CONFIG
# For Ethereum Mainnet forking, set the following variable to true and add your Alchemy/Infura API URL.
FORK_ENABLED="{SET_STATE}"

## SETUP TASK CONFIG
# For Ethereum Mainnet forking, set the network variable to "mainnet".
FORKED_NETWORK="{INSERT_NETWORK}"

# Insert price arrays (for `renewPrice` and `deployPrice`) as strings.
UNINCORPORATED_PRICES="{INSERT_PRICE_ARRAY}"
DELAWARE_PRICES="{INSERT_PRICE_ARRAY}"
WYOMING_PRICES="{INSERT_PRICE_ARRAY}"

# Insert base fee to be charged for Initializers and Plugins I.E.: 2000000000
BASE_FEE="{BASE_FEE}"