
contracts/.placeholder
test/.placeholder
node_modules
.secret.main
.secret.test
.api*
flattened.sol
migrations_data
.solcx*
.env

# hardhat
artifacts
cache
deployments
node_modules
coverage*

# local tests
.openzeppelin/unknown-31337.json
deploys/localhost.json


